@model Web_Car.Class.Car
@{
    ViewData["Title"] = "Cars";
}

<div class="col-md-6 col-lg-4 mb-4">

    <div class="listing d-block  align-items-stretch">
        <div class="listing-img h-100 mr-4">
            <img src="@Model.image" alt="Image" class="img-fluid">
        </div>
        <div class="listing-contents h-100">
            <h3>@Model.name</h3>
            <div class="rent-price">
                <strong>@Model.price</strong><span class="mx-1">/</span>day
            </div>
            <div class="d-block d-md-flex mb-3 border-bottom pb-3">
                <div class="listing-feature pr-4">
                    <span class="caption">Luggage:</span>
                    <span class="number">@Model.Luggage</span>
                </div>
                <div class="listing-feature pr-4">
                    <span class="caption">Doors:</span>
                    <span class="number">@Model.Doors</span>
                </div>
                <div class="listing-feature pr-4">
                    <span class="caption">Passenger:</span>
                    <span class="number">@Model.Passenger</span>
                </div>
            </div>
            <div>
                <p>@Model.disc</p>
                <p><a href="#" class="btn btn-primary btn-sm">Rent Now</a></p>
            </div>
        </div>

    </div>
</div>

